
* {
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    height: 2893px;
    padding: 0;
    margin: 0;
}

header {
    height: 30px;
}

.wrapper {
    margin: 0 auto;
    width: 970px;
}
.wrapper_wide {
    margin: 0;
    width: 1200px;
}
.container_1 {
    height: 30px;
    background-color: black;
}

.row_1 {
    height: 30px;
    font-size: 0;
}

.support_part {
    height: 30px;
    float: left;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.header_container {
    display: inline-block;
    text-align: right;
}

.currency {
    height: 30px;
    width: border-box;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444;
    float: left;
    /*    background-image: url("pixel_iconz_r4_c19 copy 6.png");*/
}

.account {
    height: 30px;
    border-right: 1px solid #444444;
    float: left;
    padding-left: 14px;

}

.search {
    float: left;
    display: block;
    height: 30px;
    background: black;
    color: white;
    border-right: 1px solid #444444;
    width: 34px;

}

.search_icon {
    display: block;
    height: 30px;
    background: black;
    color: white;
    border-right: 1px solid #444444;
    width: 34px;
}

.search_icon:before {
    content: '';
    background-image: url("Loopa.png");
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-left: -26px;
}

.account_icon {
    float: left;
    display: block;
    height: 30px;
    margin-right: 24px;
    margin-top: 8px;
}

.account_icon:before {
    content: '';
    background-image: url("Contact _ User.png");
    background-size: cover;
    position: absolute;
    width: 14px;
    height: 13px;
}

.support {
    font-family: "Arial Regular", sans-serif;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    line-height: 30px;
}

.number {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: white;
}


.currency_text {
    font-family: "Arial Regular", sans-serif;
    font-size: 11px;
    color: white;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 31px;
}

.currency_icon {
    float: left;
    display: block;
    height: 30px;
}

.currency_icon:before {
    content: '';
    background-image: url("pixel_iconz_r4_c19 copy 6.png");
    background-size: cover;
    position: absolute;
    width: 7px;
    height: 4px;
    margin-left: 49px;
    margin-top: 13px;
}

.account_text {
    font-family: "Arial Regular", sans-serif;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    line-height: 30px;
}

#magnifier {
    padding-left: 8px;
    padding-top: 8px;
}

.container_2 {
}

.row_2 {
    height: 87px;
}

.logo {
    float: left;
    display: block;
    height: 30px;
}

.logo:before {
    content: '';
    background-image: url("logo.png");
    background-size: cover;
    position: absolute;
    width: 120px;
    height: 28px;
    margin-top: 42px;
}

.models {
    font-family: "Arial Regular", sans-serif;
    font-size: 16px;
    float: right;
    margin-top: 46px;
    margin-right: 24px;
}

.new {
    padding-left: 28px;
}

.acordeon {
    margin-left: 5px;
    margin-bottom: 2px;
}

.cart {
    float: right;
    margin-top: 21px;
}

.cart_table {
    width: 214px;
}

.users_cart {
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    line-height: 30px;
}

.cart_text {
    font-family: "Arial Regular", sans-serif;
    font-size: 12px;
    color: grey;
    margin-left: 9px;
}

.users_purchases {
    border: 1px solid #d6d6d6;
    font-family: "Arial Regular", sans-serif;
    font-size: 14px;
    color: grey;
    background: #fafafa;
    height: 32px;
}

.users_purchases_text {
    float: right;
    font-family: "Arial Regular", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: grey;
    margin-right: 11px;
    margin-top: 9px;
}

.show_cart {
    float: right;
    margin-top: 14px;
    margin-right: 13px;
}

.cart_image {
    margin-top: 4px;
    margin-left: 10px;
    line-height: 31px;
}

.crazy_summer {
    text-align: center;
    margin-top: 19px;
}

.slide_circles {
    margin-left: 690px;
}

.circles {
    width: 10px;
    height: 10px;
    background: #867a76;
    border-radius: 50%;
    display: inline-block;
    margin-top: 29px;
    margin-right: 15px;

}

.email {
    margin-top: 32px;
    margin-left: 153px;
    height: 55px;
    background: #ededed;
    width: 1200px;
}

.email_left {
    float: left;
}


.email_right {
    float: right;
}
.email_field {
    margin-left: 113px;
    line-height: 55px;
}
.add_email_address {           /* спроси у Садыха, как так выходит все в одну строку*/
    float: left;
}
.stay {
    float: left;
    font-size: 12px;
    font-family: "Arial Regular", sans-serif;
    color: #808080;
}
.email_text {
    float: right;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    font-style: italic;
    color: #9f9f9f;
    background-color: white;
    margin-top: 13px;
    line-height: 28px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 20px;
}
.add_email {
    float: right;
    height: 26px;
    width: 28px;
    background: #fd926d;
    margin-top: 14px;
    border-bottom: 3px solid #dd6b44;
}
.add_symbol {
    float: left;
    display: block;
    height: 30px;
}

.add_symbol {
    content: '';
    background-image: url("email_adress_icon.png");
    background-size: cover;
    position: absolute;
    width: 11px;
    height: 11px;
    margin-left: 8px;
    margin-top: 8px;
}
.social_nets {
   line-height: 56px;
    margin-right: 115px;
}
.find {
    float: left;
    font-family: "Arial Regular",sans-serif;
    font-size: 12px;
    margin-right: 15px;
}
.facebook {
    float: left;
    padding-right: 23px;
    padding-left: 23px;
    background: #f7f7f7;
}

.twitter {
    float: left;
    padding-right: 17px;
    padding-left: 17px;
}

.pinterest {
    float: left;
    padding-right: 17px;
    padding-left: 17px;
    background: #f7f7f7;
}